table {
 			border-collapse: collapse;
 			width: 100%;
 		}
 
 		th,
 		td {
 			padding: 7px;
 			text-align: center;
 			border-bottom: 1px solid #ddd;
 		}


.download-btn-ctm a{display: flex; align-items: center;padding: 10px 20px; border-radius: 5px;font-size: 18px;background: #008CBA;color: #fff!important;text-align: center;text-decoration: none;border-bottom: 2px solid rgba(0,0,0,0.1);}
